
<style>

#jb-container {
  width: 940px;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #bcbcbc;
}

#jb-header {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #bcbcbc;
}


#jb-content {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #bcbcbc;
  text-align: center;
}

.flex-container {
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
  }
  
  .flex-container > div {
    background-color: white;
    color: black;
    width: 200px;
    height: 300px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }  

</style>