.main {
  padding: 4em 2em;
}

.main-filter {
  display: flex;
  flex-direction: row;
}

.filter-button {
  margin: 0 5px;
  border-radius: 7px;
  padding: 0.5rem;
}

.content-wrapper {
  border-radius: 10px;
  text-align: center;
  min-width: 12rem;
  min-height: 12rem;
  margin: 0 auto;
  box-shadow: 0.5px 0.5px 5px 0px #d2d2d2;
  border: 1px solid #d2d2d2;
  padding: 1em;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 2rem auto;
}

.item {
  text-align: left;
}
.req-title {
  font-size: 1.3rem;
  font-weight: bold;
}
.req-place {
}
