{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'css/base.css' %}" />

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>는김에</title>
    {% endblock %}
</head>

<body>
    <div class="nav-bar">
        <img src="{% static 'image/logo.png' %}">
        <div class="logo" a href="{% url 'main' %}">는김에</div>
        <div class="account">
            {% if request.user.is_authenticated %}
            <a class="nav-item" href="{% url 'mypage' %}">마이페이지</a>
            <br>
            <a class="nav-item" href="{% url 'logout' %}">로그아웃</a>
            {% else %}
            <a class="nav-item" href="{% url 'register' %}">가입하기</a>
            <br>
            <a class="nav-item" href="{% url 'login' %}">로그인</a>
            {% endif %}
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>

<hr>
<footer>NGA - All rights reserved(footer)</footer>

</html>