{% extends 'base.html' %}
{% load static %}
<!-- 품목 추가하기 동적 기능 -->
{% block head %}
<link rel="stylesheet" href="{% static 'css/new.css' %}" />

<div id="parah"></div>
<style>
    .search_in input {
        width: 250px;
        text-align: center;
    }
</style>
<script>
    var arrInput = new Array(0);
    var arrInputValue = new Array(0);

    function addInput() {
        arrInput.push(arrInput.length);
        arrInputValue.push("");
        display();
    }

    function display() {
        document.getElementById('parah').innerHTML = "";
        for (intI = 0; intI < arrInput.length; intI++) {
            document.getElementById('parah').innerHTML += createInput(arrInput[intI], arrInputValue[intI]);
        }
    }

    function saveValue(intId, strValue) {
        arrInputValue[intId] = strValue;
    }

    function createInput(id, value) {
        return "<input type='text' id='test " + id + "' onChange='javascript:saveValue(" + id +
            ",this.value)' value='" +

            value + "'><br>";
    }

    function deleteInput() {
        if (arrInput.length > 0) {
            arrInput.pop();
            arrInputValue.pop();
        }
        display();
    }
</script>
{% endblock %}

{% block content %}
<div class="new">
    <!--post로 받아와서 할 행동에 대한 정의-->
    <form action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!--요청장소-->
        <div class="new_content">
                <div class="new_title">
                    <h3><label for="inputRequestPlace">요청장소 :</label></h3>
                </div>
            <input type="text" style="height: 40px; width: 600px;" id="inputRequestPlace" name="requestplace" placeholder="가게 이름이나 건물명 등을 적어주세요!" required><br>
        </div>
        <!--만날장소(셀렉박스)-->
        <div class="new_content">
            <div class="new_title">
                <h3><label for="inputMeetPlaceSelect">만날장소 :</label></h3>
            </div>
            <select name="meetplaceselect" style="height: 40px;">
                <option vaule="흑석">흑석</option>
                <option vaule="정문">정문</option>
                <option vaule="중문">중문</option>
                <option vaule="후문">후문</option>
                <option vaule="상도">상도</option>
            </select>
        </div>
        <!--만날장소 디테일-->
        <div class="new_content">
            <div class="new_title">
                <h3><label for="inputMeetPlaceDetail">만날장소 디테일 :</label></h3>
            </div>
            <input type="text" style="height: 40px; width: 600px;" id="inputMeetPlaceDetail" name="meetplacedetail" placeholder="ex) 310관 1층 카페 키오스크 앞"required>
        </div>
        <!--품목 이름-->
        <div class="new_content">
            <div class="new_title">
                <h3><label for="inputRequestItem">요청 품목 :</label></h3>
            </div>
            <input type="text" style="height: 40px; width: 450px;" id="inputRequestItem" name="requestitem" placeholder="정확한 상품명을 기입해주세요!    ex) 까만 커피(X) 아이스 아메리카노(O)" required>
        </div>
        <!--품목 수량(컨트롤박스)-->
        <div class="new_content">
            <div class="new_title">
                <h3><label for="inputRequestQuantity">요청 품목 수량 :</label></h3>
            </div>
            <input type="text" style="height: 40px; width: 20px;" name="requestquantity" value="1">
            <h3>개</h3>
            <!-- 수량 조절 java 계속 오류 나서 text 처리함 -->
            <!-- <input type="button" value="증가" onClick="javascript:this.form.amount.value++;">
        <input type="button" value="감소" onClick="javascript:this.form.amount.value--;"> -->

        </div>

        <!--품목 세부사항-->
        <div class="new_content">
            <div class="new_title">
                <h3><label for="inputRequestDetail">요청 품목 세부사항 :</label></h3>
            </div>
            <input type="text" style="height: 40px; width: 800px;" id="inputRequestDetail" name="requestdetail" required>
        </div>

        <!--품목 추가(버튼)-->
        <div class="new_content" method="post" action="test.jsp">
            <div class="button_middle">
                <input type="button" value="품목 추가하기" onclick="addInput();" />
            </div>
            <div class="button_small">
                <input type="button" value="삭제" onclick="deleteInput();" />
            </div>
        </div>

        <!--수수료-->
        <div class="new_content" id="fees_block">
            <div class="new_title">
                <h3><label for="inputFees">수수료 :</label></h3>
            </div>
            <input type="text" style="height: 40px; width: 100px;" id="inputFees" name="fees" required><h4>원</h4>
            <h5>(최소 수수료는 1000원으로 책정됩니다!)</h5>
        </div>
        
        

        <!--제한 시간-->
        <div class="new_content">
            <div class="new_title">
                <h3><label for="inputLimitedTime">제한시간 :</label></h3>
            </div>
            <p>
                <h3>시:<input type="text" style="height: 40px;" name="limitiedhour" value="0"> 분:<input type="text" style="height: 40px;" name="limitiedmin"
                        value="0">
                    초:<input type="text" style="height: 40px;" name="limitiedsec" value="0"></h3>
            </p>
            <!-- 시간 들어가는 부분 -->


        </div>
        <!--부탁하기(버튼)-->
        <!-- form 태그와 submit 태그는 연결 -->

        <button class="button_wide" type="submit" value="부탁하기">부탁하기</button>


    </form>
</div>




{% endblock %}